In [1]:
### polymorphism in function
 
#len,sum , max, min

In [2]:
l=[12,24,43]
len(l)

3

In [3]:
t=(12,24,43)
len(t)

3

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame(t)
df

    0
0  12
1  24
2  43

In [6]:
s1=pd.Series(t)

In [7]:
s1

0    12
1    24
2    43
dtype: int64

In [8]:
len(s1)

3

In [9]:
### create class country and method language , capital

class india():
    def capital():
        print("captial of india is new delhi")
    # create method for language
    def language():
        print("")

In [10]:
# create class rectangele , circle --> perimeter ,area

In [11]:
class rectangle():
    def __init__(self, length, width):
        self.length = length
        self.width = width
    def perimeter(self):

        return 2*(self.length + self.width)
       
    def area(self):
        return self.length* self.width
class circle():
    def __init__(self,radius):
        self.radius = radius
        
    def perimeter(self):

         return 3.14 * (self.radius ** 2)
       
    def area(self):
        return 2 * 3.14 * self.radius

In [12]:
p1=rectangle(2,3)

In [13]:
p1.perimeter()

10

In [14]:
p1.area()

6

In [15]:
r1=circle(radius=2)

In [16]:
r1.area()

12.56

In [17]:
r1.perimeter()

12.56

In [18]:
for i in [r1,p1]:
    print(i)
    print(f"perimeter-->{i.perimeter()}")
    print(f'area ---> {i.area()}')

<__main__.circle object at 0x000001F8D5999D30>
perimeter-->12.56
area ---> 12.56
<__main__.rectangle object at 0x000001F8D5998830>
perimeter-->10
area ---> 6

In [19]:
##encapsulation
# public variable---> access publically

#protected --> _ is used
#private ---> __ is used

In [20]:
class acount:
    def __init__(self,balance):
        self.balance=balance
        
        # protected variable

In [21]:
class acount1:
    def __init__(self,balance):
        self._balance=balance

In [22]:
a1=acount1(20000)

In [23]:
a1._balance

20000

In [24]:
#private variables

class acount2:
    def __init__(self,balance):
        self.__balance=balance

In [25]:
a2=acount2(35433)

In [26]:
a2.__balance

AttributeError: 'acount2' object has no attribute '__balance'

In [ ]:
a2._acount2__balance

35433

In [ ]:
# class method
# used to change value of class attributes

In [ ]:
class student:
    sch_name="abc"
    def __init__(self, name, age):
        self.name=name
        self.age=age

    @classmethod
    def change_school(cls,new_name):
        cls.sch_name=new_name

In [ ]:
#abstraction