In [3]:
s={12,13}
print(type(s))

<class 'set'>

In [4]:
import pandas as pd

In [5]:
d  =  {'name'  :  ['sunita' ,  'neeta' ,  'suyash']  ,
 'age' : [12 ,13, 14]}

In [6]:
data = pd.DataFrame(d)

In [7]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

### attributes
- index
- columns
- values
- shape
- size

data.index

In [8]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
data.columns

Index(['name', 'age'], dtype='object')

In [10]:
data.values

array([['sunita', 12],
       ['neeta', 13],
       ['suyash', 14]], dtype=object)

In [11]:
data.shape

(3, 2)

In [12]:
data.size

6

In [14]:
data.isnull()

    name    age
0  False  False
1  False  False
2  False  False

In [15]:
# create class person with constructor method

In [21]:
class person:
    def __init__(self,name,age,gender,occupation):
        self.name=name
        self.age=age
        self.gender=gender
        self.occupation=occupation

In [22]:
p1=person(name="sakshi", age=23,gender="female", occupation="DA")

In [24]:
p1.name

'sakshi'

In [25]:
p1.age

23

In [26]:
p1.occupation

'DA'

In [28]:
#add attribute address in p1
p1.address="pune"

In [29]:
p1.address

'pune'

In [30]:
p1.occupation

'DA'

In [31]:
p1.occupation="ML Enginer"

In [32]:
p1.occupation

'ML Enginer'

In [ ]:
p1.__delattr__("address")     #for delete

In [35]:
#create class employee
class employee:
    company="TCS"
    def __init__(self,emp_id,emp_name):
        self.emp_id=emp_id
        self.emp_name=emp_name

In [36]:
e1=employee(emp_id=1,emp_name="acb")

In [37]:
e1.emp_id

1

In [38]:
e1.emp_name

'acb'

In [39]:
e1.company

'TCS'

In [44]:
#create class person with attributes and method
class person:
    def __init__(self,name,age,gender,occupation):
        self.name=name
        self.age=age
        self.gender=gender
        self.occupation=occupation
    def info(self):
        print(f'i am {self.name}')   
        print(f'i am {self.age} year old' )
        print(f'i am {self.gender}')
        print(f'i work as {self.occupation}')

In [45]:
p2=person(name="sakshi", age=23,gender="female", occupation="DA")

In [46]:
p2.info()

i am sakshi
i am 23 year old
i am female
i work as DA

In [52]:
# create class student with dataclass decorator

name  : str
roll_no  :  int
marks  :  float
gender  :  Literal['male' ,  'female' ]
Hobbies  :  List[str]

In [53]:

from dataclasses import dataclass
from typing import Literal ,List

In [59]:
@dataclass
class student:
 name  : str
 roll_no  :  int
 marks  :  float
 gender  :  Literal['male' ,  'female' ]
 Hobbies  :  List[str]


 ##add student info method
 def info(self):
        print(f'i am {self.name}')   
        print(f'my roll no {self.roll_no} ' )
        print(f'my marks is {self.marks}')
        print(f'i am {self.gender}')
        print(f'i work as {self.Hobbies}')

In [60]:
s1=student(name="sakshi",roll_no=12, marks=89,gender="female",Hobbies="dance")

In [61]:
s1.info()

i am sakshi
my roll no 12
my marks is 89
i am female
i work as dance

In [62]:
## create class account with 
# check balance, deposite , withdraw, transfer methods
# numberm name, balance --attr

In [96]:
@dataclass
class account:
    acc_no:int
    acc_name:str
    balance:float
#create ,method check balance
    def check_balance(self):
     return f'current balance of account {self.acc_no} is {self.acc_name} and balance is {self.balance}'   


    # add money to acc deposite
    def deposite(self,amt:float):
       self.balance+=amt
       print(f'amount of {amt} is deposited in {self.acc_no}')
       return self.check_balance()

    #withdraw amount
    def withdraw(self,amt):
       if self.balance>=amt:
          self.balance-=amt
          print(f'amount if {amt} is withdrawn from {self.acc_no}')
          return self.check_balance() 
       else:
          raise ValueError("insufficient funds")
       
    # transfer money
    def transfer(self,amt:float,acc='account'):
      self.withdraw(amt)
      acc.deposite(amt)   
      return self.check_balance(),acc.check_balance()

In [97]:
a1=account(acc_no=22,acc_name="xyzt",balance=200050)

In [98]:
a2=account(acc_no=21,acc_name="xyz",balance=20000)

In [99]:
a1.transfer(amt=20000,acc=a2)

amount if 20000 is withdrawn from 22
amount of 20000 is deposited in 21

('current balance of account 22 is xyzt and balance is 180050',
 'current balance of account 21 is xyz and balance is 40000')

In [3]:
#create class to find area and perimeter of triangle

from dataclasses import dataclass

In [21]:
@dataclass
class triangle:
    s1:int|float
    s2:int|float
    s3:int|float

    def perimeter(self):
        if (self.s1+self.s2>self.s3) and\
        (self.s2+self.s3>self.s1) and\
        (self.s1+self.s3>self.s2):
          p=self.s1+self.s2+self.s3
          return p
        else:
           print("triangle not formed")

    #find area of triangle
    # 
    def area(self):
       if self.perimeter() is not None:
          
        s=self.perimeter()
        return(s*((s-self.s1)*(s-self.s2)*(s-self.s3)))**(1/2)

In [22]:
triangle(s1=2,s2=3,s3=3)

triangle(s1=2, s2=3, s3=3)

In [23]:
t1=triangle(2,3,3)

In [24]:
t1.perimeter()

8

In [ ]:
## create class for simple calculator
two attributes
add, substraction , product, division

In [56]:
@dataclass
class calulator:
    s1:int|float
    s2:int|float
    

    def add(self):
         p=self.s1+self.s2
         return p
    def sub(self):
          p=self.s1-self.s2
          return p
    def mul(self):
         p=self.s1*self.s2
         return p
    def divi(self):
         if self.add() is not None  and self.s2!=0:
          P=self.s1//self.s2
          return p
         else:
             raise TypeError("denominator should not be 0 ""or input should be numaric")

In [57]:
a=calulator(s1=2,s2=4)

In [58]:
a.sub()

-2

In [59]:
a.mul()

8

In [60]:
a.divi()

NameError: name 'p' is not defined

In [61]:
c2 = calulator(2,0)

In [62]:
c2.divi()

TypeError: denominator should not be 0 or input should be numaric