In [3]:
#### create function for number division


def div():
    num=float(input("enter no here"))
    den=float(input("enter no here"))
    div=num/den
    print(f"division of {num} and {den} --->{num}/{den}")
    return div

In [6]:
#take num=120 ,den=10
div()

division of 12.0 and 23.0 --->12.0/23.0

0.5217391304347826

In [5]:
#take num="123" a d den=10
div()

ValueError: could not convert string to float: '"123"'

In [7]:
## used try and except block to handle div

In [37]:
# create function

def div1():
    try:
        num=float(input("enter no here"))
        den=float(input("enter no here"))
        div=num/den
        print(f"division of {num} and {den} --->{num}/{den}")
        return div

    except Exception as e:
        print(f"exception occured at{e}")

In [39]:
a=div1()
print(a)

division of 12.0 and 2.0 --->12.0/2.0
6.0

In [34]:
def div1():
    try:
        num = float(input("enter no here: "))
        den = float(input("enter no here: "))
        div = num / den
        return f"division of {num} and {den} ---> {div}"

    except Exception as e:
        return f"exception occurred: {e}"

In [35]:
a=div1()

In [36]:
print(a)

division of 12.0 and 2.0 ---> 6.0

In [40]:
# use customize message for division handling

# create function

def div2():
    try:
        num=float(input("enter no here"))
        den=float(input("enter no here"))
        div=num/den
        print(f"division of {num} and {den} --->{num}/{den}")
        return div
    except ZeroDivisionError:
        print("denominator should not be 0")
    except ValueError:
        print("input should not be string or blank")
    except Exception as e:
        print("Exception occoured at {e}")

In [41]:
div2()

division of 12.0 and 3.0 --->12.0/3.0

4.0

In [52]:
def  file_read(path):
    try:
        import pandas as pd
        df =  pd.read_csv(path)
        return  df
    except ImportError:
        print("file could not import properly")
    except FileNotFoundError :
        print("file not found") 
    except ModuleNotFoundError:
        print("module not found")
    except Exception as e:
        print("exception occoured at {e}")

In [53]:
#path=r"C:\Users\hp\Downloads\Cars93 (1).csv"
file_read(path=r"C:\Users\hp\Downloads\Cars93 (1).csv")

,id,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,1,Acura,Integra,Small,12.9,15.9,18.8,25,31,NaN,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,2,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,3,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,4,Audi,100,Midsize,30.8,37.7,44.6,19,26,NaN,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,5,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,89,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17,21,NaN,...,7,187,115,72,38,34.0,NaN,3960,non-USA,Volkswagen Eurovan
89,90,Volkswagen,Passat,Compact,17.6,20.0,22.4,21,30,NaN,...,5,180,103,67,35,31.5,14.0,2985,non-USA,Volkswagen Passat
90,91,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18,25,NaN,...,4,159,97,66,36,26.0,15.0,2810,non-USA,Volkswagen Corrado
91,92,Volvo,240,Compact,21.8,22.7,23.5,21,28,Driver only,...,5,190,104,67,37,29.5,14.0,2985,non-USA,Volvo 240
92,93,Volvo,850,Midsize,24.8,26.7,28.5,20,28,Driver & Passenger,...,5,184,105,69,38,30.0,15.0,3245,non-USA,Volvo 850

In [54]:
## exceptional handling with conditional statements

In [55]:
valid_age=int(input())

In [ ]:
def valid_age():
    age=int(input())
    if age>=0 and age<=120:
        print("valid_age-->",age)
    else:
        print("invalid age")

In [ ]:
valid_age()

invalid age

In [59]:
def valid_age():
    try:
        age=int(input())
        if age>=0 and age<=120:
            print("valid_age-->",age)
        else:
         print("invalid age")       
    except Exception as e:
        print(e)

In [62]:
valid_age()

invalid literal for int() with base 10: ''

In [63]:
## four block
# try--> checking contion
# except --> when try is false
# else--> it will execute if try is true
# finally--> it will always execute

In [ ]:
# crete funtion to find square of no
def square():
    num=float(input())
    return num*num

In [65]:
square()

4.0

In [75]:
def square():
    try:
        num=float(input())
        s = num*num
    except Exception as e:
        print(e)
    else:
        print(f'square of {num} is {num}*{num}')
        return s
    finally:
        print("i will always execute")

In [73]:
square()

square of 5.0 is 5.0*5.0
i will always execute

25.0